### OSX ###
.DS_Store
.AppleDouble
.LSOverride


# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Node ###
# Logs
logs
*.log


# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Framework dependencies
vendor

# IDE files
*.sublime-project
*.sublime-workspace
*.komodoproject
*.idea
